* {
    color: black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}



body
{
    margin-top: 40px;
}


#container
{
    border-radius: 50px;
    margin: auto;
    width: 600px;
    height: 600px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 65%, rgba(240,240,240,0.8130602582830007) 100%);
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
}

#container > h1
{
    padding: 30px;
    font-size: 24pt;
    background: #B7DEED;
    background: linear-gradient(to right, #B7DEED 0%, #71CEEF 25%, #21B4E2 75%, #B7DEED 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.option
{
    width:120px;
    height: 120px;
    border-radius: 10px;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

div img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#board
{
    margin: auto;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45pt;
    color: green;
}